name: todo_idez
description: "A new Flutter project."

publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_bloc: ^8.1.3
  provider: ^6.0.5 # apenas se quiser, não obrigatório
  shared_preferences: ^2.0.15
  uuid: ^3.0.7
  shimmer: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  bloc_test: ^9.1.0
  mocktail: ^0.3.0
  integration_test:
    sdk: flutter

  flutter_lints: ^5.0.0


flutter:

  uses-material-design: true
